<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Library App - Home</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      .custom-button {
        width: 240px; /* Adjust the width as per your requirement */
        height: 70px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 10px;
      }
      a {
        text-decoration: none;
      }
      button {
        background-color: #0d6efd;
        color: white;
        border-radius: 10px; /* Adjust the value to change the roundness */
        padding: 10px 20px;

      }
      .div1 {
        background-color: #eaafff;
        border-radius: 10px;
        padding: 20px;
      }
      .div2 {
        background-color: #c5e8ff;
        border-radius: 10px;
        padding: 20px;
      }

      .twocolumns {
        display: flex; /* Use flexbox for the two-column layout */
        justify-content: space-between; /* Place the columns at the opposite ends */
      }

      .leftarray {
        width: 50%; /* Set the width of the left column to 50% */
      }

      .rightarray {
        width: 50%; /* Set the width of the right column to 50% */
      }
    </style>
  </head>
  
  <body>
    
    <div class="container">
      <div class="header">
        <nav
          class="border-bottom flex-wrap mb-4 py-3 d-flex justify-content-center"
        >
          <a
            href="/userhome"
            class="text-dark text-decoration-none mb-3 mb-md-0 d-flex align-items-center me-md-auto"
          >
            <span class="fs-4">Python Flask App</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="/userhome" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link active">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="bg-light rounded-3 mb-4 p-5">
        <div class="container-fluid py-5">
          <h1 class="text-center fw-bold display-5">Welcome Home!</h1>
        </div>
      </div>
      
      <div class="twocolumns">
        <div class="leftarray">
          <button id="show_table" onclick="toggleTable()">Show My Info</button>
          <table id="UserData" style="display:none">
            <thead>
                <tr>
                    <th>Your Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td id="username"> </td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td id="firstname"> </td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td id="lastname"> </td>
                </tr>
                <tr>
                    <td>Birth Date:</td>
                    <td id="birthdate"> </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td id="email"> </td>
                </tr>
                <tr>
                    <td>Role:</td>
                    <td>Admin</td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="rightarray">
          <button id="show_table1" onclick="toggleTable1()">Show My Library</button>
          <table id="LibData" style="display:none">
            <thead>
                <tr>
                    <th>Your Library's Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td id="name"> </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td id="address"> </td>
                </tr>
                <tr>
                    <td>Town:</td>
                    <td id="town"> </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td id="email1"> </td>
                </tr>
                <tr>
                    <td>Principal:</td>
                    <td id="principal"> </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <script>
        function toggleTable(){
            var table = document.getElementById("UserData");
            if (table.style.display == "none"){
                table.style.display = "table";
            } else {
                table.style.display = "none";
            }

            
        }
        function toggleTable1(){
            var table = document.getElementById("LibData");
            if (table.style.display == "none"){
                table.style.display = "table";
            } else {
                table.style.display = "none";
            }

            
        }
        const table = document.getElementById('UserData');
        const getDataBtn = document.getElementById('show_table');

        getDataBtn.addEventListener('click', async () => {
            const response = await fetch('/api/get_data');
            const data = await response.json();

            if (data.error){
                console.log(error)
            } else{
              const item1 = document.getElementById('username');
                const item2 = document.getElementById('firstname');
                const item3 = document.getElementById('lastname');
                const item4 = document.getElementById('birthdate');
                const item5 = document.getElementById('email');
                item1.innerText = data.username;
                item2.innerText = data.first_name;
                item3.innerText = data.last_name;
                item4.innerText = data.birth_date;
                item5.innerText = data.email; 
            }     
        });


        const table1 = document.getElementById('LibData');
        const getLibBtn = document.getElementById('show_table1');
        getLibBtn.addEventListener('click', async () => {
            const response = await fetch('/api/get_lib_data');
            const data = await response.json();

            if (data.error){
                console.log(error)
            } else{
                


                const item1 = document.getElementById('name');
                const item2 = document.getElementById('address');
                const item3 = document.getElementById('town');
                const item4 = document.getElementById('email1');
                const item5 = document.getElementById('principal');
                item1.innerText = data.name;
                item2.innerText = data.address;
                item3.innerText = data.town;
                item4.innerText = data.email;
                item5.innerText = data.principal; 
            }     
        });
      </script>
      <br><br>
      <div class="div1">
        <div>
          <h1 class="text-center">Your Account</h1>
        </div>
        <div class="button-container">
          <a href="/book_search">
            <button class='custom-button'>Books</button>
          </a>
          <a href="/past_loans">
            <button class="custom-button">My past Loans and Reservations</button>
          </a>
          <a href="/card_condition">
            <button class="custom-button">My Card Status</button>
          </a>
          <a href="/change_attributes">
            <button class="custom-button">Change My Attributes</button>
          </a>
          <a href="/get_phones">
            <button class="custom-button">Get my phones</button>
          </a>
        </div>
        <div class="button-container">
          <a href="/change_phones">
            <button class="custom-button">Change my Phones</button>
          </a>
          <a href = "/show_myloans_reg">
            <button class="custom-button">Show my Loans and Reservations</button>
          </a>
          <a href = "/get_myrequests">
            <button class="custom-button">Show my requests</button>
          </a>
          <a href = "/delete_req_res">
            <button class="custom-button">Delete request or reservation</button>
          </a>
          <a href = "/query_my_database">
            <button class="custom-button">Query my database</button>
          </a>
        </div>
        
      </div>
      <br><br>
      <div class="div2">
        <div>
          <h1 class="text-center">Manage Library System</h1>
        </div>
        <div class="button-container">
          <a href="/pending_operator_registrations">
            <button class="custom-button">Operator-Admin Registrations</button>
          </a>
          <a href="/manip_lib">
            <button class="custom-button">Add or Change Library</button>
          </a>
          <a href="/backup_database">
            <button class="custom-button">Create Backup of Database</button>
          </a>
          <a href="/restore_from_backup">
            <button class="custom-button">Restore Database from Backup</button>
          </a>
        </div>
        
      </div>
      
      <footer class="footer">
        <a href="/change_password">
          Change my password
        </a>
        <br>
        <a href="/contact_library">
          Contact my Library
        </a>
        <p>&copy; NTUA 2023</p>
      </footer>
    </div>
  </body>
</html>
