<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Library App - Manage Requests</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      .box{
        background-color: #eaafff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        width: 300px;
      }
      button {
      background-color: #0d6efd;
      color: white;
      border-radius: 10px; /* Adjust the value to change the roundness */
      padding: 10px 20px;
      }
  </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav
          class="border-bottom flex-wrap mb-4 py-3 d-flex justify-content-center"
        >
          <a
            href="/userhome"
            class="text-dark text-decoration-none mb-3 mb-md-0 d-flex align-items-center me-md-auto"
          >
            <span class="fs-4">Python Flask App</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="/userhome" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link active">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="bg-light rounded-3 mb-4 p-5">
        <div class="container-fluid py-5">
          <h1 class="text-center fw-bold display-5">Request of my library</h1>
        </div>
      </div>
 
      <div id="list_of_reg">

      </div>
      <script>



        fetch('/api/get_all_requests')
        .then(response => response.json())
        .then(requests=> {

            const regContainer = document.getElementById('list_of_reg');
            //Loop through the array of objects and create a box element for each row
            requests.forEach(request => {
                // Create a new box element
                const box = document.createElement('div');
                box.classList.add('box'); // Apply CSS styles to the box element

                // Set the attributes of the box element
                const isbn = document.createElement('p');
                isbn.textContent = `ISBN: ${request.isbn}`;
                box.appendChild(isbn);

                const user_id = document.createElement('p');
                user_id.textContent = `UserID: ${request.user_id}`;
                box.appendChild(user_id);

                const username = document.createElement('p');
                username.textContent = `Username: ${request.username}`;
                box.appendChild(username);

                const firstName = document.createElement('p');
                firstName.textContent = `First name: ${request.first_name}`;
                box.appendChild(firstName);

                const lastName = document.createElement('p');
                lastName.textContent = `Last name: ${request.last_name}`;
                box.appendChild(lastName);

                const conditions = document.createElement('p');
                conditions.textContent = `User meets conditions: ${request.conditions}`;
                box.appendChild(conditions);

                const available_copies = document.createElement('p');
                available_copies.textContent = `Available copies: ${request.available_copies}`;
                box.appendChild(available_copies);

                //create the accept and delete buttons
                const acceptButton = document.createElement('button');
                acceptButton.textContent = 'Accept';
                acceptButton.addEventListener('click', (event) => {
                  event.preventDefault()
                  // Handle the accept action
                  // Send a request to the server to delete the row from Pending_Registration table and append it to the Users
                  fetch(`/api/proccess_requests`,{
                      method: 'POST',
                      headers:{
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          action: 'accept',
                          user_id: request.user_id,
                          book_ISBN: request.isbn,
                          condition: request.conditions
                      })
                  })
                  .then((res)=>res.json())
                  .then((data)=>{
                    if (data.redirect_url){
                      window.location.href = data.redirect_url
                    }
                    else if (data.message == "The conditions are not met") {
                        alert("The conditions are not met, try another request")
                        location.reload()
                    }
                    else {
                      console.log(data)
                    }
                  })
                });
                box.appendChild(acceptButton);

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'Delete';
                deleteButton.addEventListener('click', (event) => {
                  event.preventDefault();
                  //Handle the delete action
                  // Send a request to the server to delete the row from the Pending Registration table
                  fetch(`/api/proccess_requests`,{
                      method: 'POST',
                      headers:{
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          action: 'delete',
                          user_id: request.user_id,
                          book_ISBN: request.isbn,
                          condition: request.conditions
                      })
                  })
                  .then((res)=>res.json())
                  .then((data)=>{
                    if (data.redirect_url){
                      window.location.href = data.redirect_url
                    }
                    else {
                      console.log(data)
                    }
                  })
                });
                box.appendChild(deleteButton);


                regContainer.appendChild(box);
            });
                    

        })
        .catch(error => console.error(error));

        
      </script>
      <footer class="footer">
        <p>&copy; NTUA 2023</p>
      </footer>
    </div>
  </body>
</html>