<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Library App - Pending Cards</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      .box{
        background-color: #d3baff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        width: 300px;
      }
      button {
            background-color: #5941b7;
            color: white;
            border-radius: 10px; /* Adjust the value to change the roundness */
            padding: 10px 20px;
            font-family: "Palatino", serif;
            border: none;
      }
      #unique-link {
        background-color: #5941b7;
        color: white;
        border-radius: 10px; /* Adjust the value to change the roundness */
        padding: 8px 16px;
        margin-right: 10px;
        font-family: "Palatino", serif;
        border: none;
      }
  </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav
          class="border-bottom flex-wrap mb-4 py-3 d-flex justify-content-center"
        >
          <a
            href="/userhome"
            class="text-dark text-decoration-none mb-3 mb-md-0 d-flex align-items-center me-md-auto"
          >
            <span class="fs-4">Python Flask App</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="/userhome" class="nav-link" id="unique-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link active" id="unique-link">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="bg-light rounded-3 mb-4 p-5">
        <div class="container-fluid py-5">
          <h1 class="text-center fw-bold display-5">Pending cards</h1>
        </div>
      </div>
 
      <div id="list_of_cards">

      </div>
      <script>



        fetch('/api/getcards')
        .then(response => response.json())
        .then(requests=> {

            const regContainer = document.getElementById('list_of_cards');
            //Loop through the array of objects and create a box element for each row
            requests.forEach(request => {
                // Create a new box element
                const box = document.createElement('div');
                box.classList.add('box'); // Apply CSS styles to the box element

                // Set the attributes of the box element
                const username = document.createElement('p');
                username.textContent = `Username: ${request.username}`;
                box.appendChild(username);

                const firstName = document.createElement('p');
                firstName.textContent = `First name: ${request.first_name}`;
                box.appendChild(firstName);

                const lastName = document.createElement('p');
                lastName.textContent = `Last name: ${request.last_name}`;
                box.appendChild(lastName);

                const email = document.createElement('p');
                email.textContent = `Email: ${request.email}`;
                box.appendChild(email);

                const role = document.createElement('p');
                role.textContent = `Role: ${request.role}`;
                box.appendChild(role);

                const card_no = document.createElement('p');
                card_no.textContent = `CardNo: ${request.card_no}`;
                box.appendChild(card_no);

                //create the accept and deny buttons
                const acceptButton = document.createElement('button');
                acceptButton.textContent = 'Accept';
                acceptButton.addEventListener('click', (event) => {
                  event.preventDefault()
                  // Handle the accept action
                  // Send a request to the server to delete the row from Pending_request table and append it to the Users
                  fetch(`/api/process_card`,{
                      method: 'POST',
                      headers:{
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          action: 'accept',
                          username: request.username,
                          card_no: request.card_no                 
                      })
                  })
                  .then((res)=>res.json())
                  .then((data)=>{
                    if (data.redirect_url){
                      window.location.href = data.redirect_url
                    }
                    else {
                      console.log(data)
                    }
                  })
                });
                box.appendChild(acceptButton);

                const denyButton = document.createElement('button');
                denyButton.textContent = 'Deny';
                denyButton.addEventListener('click', (event) => {
                  event.preventDefault();
                  //Handle the deny action
                  // Send a request to the server to delete the row from the Pending request table
                  fetch(`/api/process_card`,{
                      method: 'POST',
                      headers:{
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          action: 'deny',
                          username: request.username,
                          card_no: request.card_no
                      })
                  })
                  .then((res)=>res.json())
                  .then((data)=>{
                    if (data.redirect_url){
                      window.location.href = data.redirect_url
                    }
                    else {
                      console.log(data)
                    }
                  })
                });
                box.appendChild(denyButton);


                regContainer.appendChild(box);
            });
                    

        })
        .catch(error => console.error(error));

        
      </script>
      <footer class="footer">
        <p>&copy; NTUA 2023</p>
      </footer>
    </div>
  </body>
</html>