<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Library App - Books</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
        #myDiv{
            background-image: url(/static/images/background2.png);
            background-color: rgba(0, 0, 0, 0.5);
        }
        .book-box{
        display: flex;
        align-items: center;
        background-color: #c5e8ff;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px; 
        }
        .book-image {
        width: 100px;
        height: auto;
        margin-right: 10px;
        }
        .book-info {
        flex-grow: 1;
        }

        .book-info p {
            margin: 5px 0;
        }

        .book-info button {
            margin-top: 10px;
        }
        .box{
        background-color: #eaafff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        width: 300px;
        }
        button {
        background-color: #0d6efd;
        color: white;
        border-radius: 10px; /* Adjust the value to change the roundness */
        padding: 10px 20px;
        }
    </style>
    
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav
          class="border-bottom flex-wrap mb-4 py-3 d-flex justify-content-center"
        >
          <a
            href="/userhome"
            class="text-dark text-decoration-none mb-3 mb-md-0 d-flex align-items-center me-md-auto"
          >
            <span class="fs-4">Python Flask App</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="/userhome" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link active">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="myDiv" class="bg-light rounded-3 mb-4 p-5">
        <div class="container-fluid py-5">
          <h1 class="text-center fw-bold display-5 " style="color: white">Find Your Next Favourite Book</h1>
        </div>
      </div>

      <form id="form-searchtitle" action="/api/book_search" method="post">
        <label for="inputTitle" class="sr-only">Search By Title</label>
        <input 
            name="inputTitle" 
            id="inputTitle" 
            class="form-control" 
            placeholder="Title" 
            required autofocus>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
    </form>
    <form id="form-searchkeyword" action="/api/book_search_keyword" method="post">
        <label for="inputKey" class="sr-only">Search By Keyword</label>
        <input 
            name="inputKey" 
            id="inputKey" 
            class="form-control" 
            placeholder="Keyword" 
            required autofocus>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
    </form>
      <div id="list_of_books">

      </div>
      <script>

        const form = document.querySelector('#form-searchtitle');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const body = new URLSearchParams(formData).toString();

            try{
                const res = await fetch("/api/book_search", {
                    method: "POST",
                    body: body,
                    headers:{
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                });

                const data = await res.json();
                const listContainer = document.querySelector('#list_of_books');
                listContainer.innerHTML="";

                data.results.forEach((row) => {
                    const bodyBox = createBookBox(row);
                    listContainer.appendChild(bodyBox);
                });

            } catch (error) {
                console.error(error);
                document.querySelector('#error-message').textContent = 'an error occured';
            }
        });

        function createBookBox(row) {
            const bookBox = document.createElement('div');
            bookBox.classList.add('book-box');

            const imageElement = document.createElement('img');
            if (row.image_data !== null) {
                imageElement.src = 'data:image/png;base64,' + row.image_data;
            } else {
                // Set a default image placeholder or handle the case when the photo is null
                imageElement.src = '/static/images/default.jpg';
            }   
            imageElement.classList.add('book-image');         
            bookBox.appendChild(imageElement);
            
            const infoContainer = document.createElement('div');
            infoContainer.classList.add('book-info');

            const titleElement = document.createElement('p');
            titleElement.textContent = "Title: " + row.title;
            infoContainer.appendChild(titleElement);   
            

            const ISBNElement = document.createElement('p');
            ISBNElement.textContent = "ISBN: " + row.isbn;
            infoContainer.appendChild(ISBNElement);


            const publisherElement = document.createElement('p');
            publisherElement.textContent = "Publisher: " + row.publisher;
            infoContainer.appendChild(publisherElement);

            const pagesElement = document.createElement('p');
            pagesElement.textContent = "No of Pages: " + row.no_of_pages;
            infoContainer.appendChild(pagesElement);

            const langElement = document.createElement('p');
            langElement.textContent = "Language: " + row.language;
            infoContainer.appendChild(langElement);
            


            const requestButton = document.createElement('button');
                requestButton.textContent = 'Request Book';
                requestButton.addEventListener('click', (event) => {
                  event.preventDefault()
                 
                  fetch(`/api/requestbook`,{
                      method: 'POST',
                      headers:{
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          action: 'request',
                          book_isbn: row.isbn
                      })
                  })
                  .then((res)=>res.json())
                  .then((data)=>{
                    if (data.redirect_url){
                      window.location.href = data.redirect_url
                    }
                    else {
                      console.log(data)
                    }
                  })
                });
                infoContainer.appendChild(requestButton);

            bookBox.appendChild(infoContainer);
            return bookBox;
        }



        
      </script>
      <footer class="footer">
        <p>&copy; NTUA 2023</p>
      </footer>
    </div>
  </body>
</html>