<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask Library App - Book Search</title>
    <link rel="stylesheet" href="searchbar.css">
    <link rel="stylesheet" href="'table_template.css">
</head>
<body>
    <div class="container">
        <form action="" class="search-bar">
            <input type="search" id="searchBar" placeholder="Search for books in your library" name="q">
            <button type="submit">
                <img src="images/search.png">
            </button>
            <div id="searchResults"></div>
        </form>
    </div>

    <script>
        const searchBar = document.getElementById('searchBar');
        const searchResults = document.getElementById('searchResults');


        function fetchSearchResults(query) {
            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ inputBook: query })
            })
                .then(response => response.json())
                .then(data => {
                    const results = data.results;

                    // Create table
                    const table = document.createElement('table');
                    table.classList.add('content-table');

                    // Create table header
                    const tableHeader = document.createElement('tr');
                    const headers = ['Book Title', 'Publisher'];
                    headers.forEach(headerText => {
                        const header = document.createElement('th');
                        header.textContent = headerText;
                        tableHeader.appendChild(header);
                    });
                    table.appendChild(tableHeader);

                    // Create table rows
                    results.forEach(result => {
                        const row = document.createElement('tr');
                        const columns = [result.title, result.publisher];
                        columns.forEach(columnText => {
                            const column = document.createElement('td');
                            column.textContent = columnText;
                            row.appendChild(column);
                        });
                        table.appendChild(row);
                    });

                    // Clear previous search results
                    searchResults.innerHTML = '';

                    // Append table to search results div
                    searchResults.appendChild(table);
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        }
    </script>
</body>
</html>
