<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask Library App - Book Search</title>
    <link rel="stylesheet" href="{{url_for('static', filename='searchbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='table_template.css') }}">
</head>
<body>
    <div class="container">
        <form action="/api/book_search" class="search-bar" onsubmit="event.preventDefault(); fetchSearchResults(document.getElementById('searchBar').value); return false;">
            <input type="search" id="searchBar" placeholder="Search for books in your library" name="q">
            <button type="submit">
                <img src="static/images/search.png">
            </button>
        </form>
        <div id="searchResults"></div>
    </div>
    

    <script>
        const searchBar = document.getElementById('searchBar');
        const searchResults = document.getElementById('searchResults');

        function fetchSearchResults(query) {
            fetch('/api/book_search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ inputBook: query })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Request failed with status ' + response.status);
                }
                return response.json();
            })
            .then(data => {
                console.log(JSON.stringify('Response data:'), data); // Log the response data for debugging

                const results = data.results;

            // Rest of the code...
            })
            .catch(error => {
                console.error(JSON.stringify('Error:'), error);
            }); 
        }
    
    </script>
</body>
</html>
